<% provide(:title, "Search") %>
<h4>You searched for "<%= @q %>"</h4>
<% @results.each do |user| %>
  <div class="card white">
    <div class="card-content black-text">
      <span class="card-title"><%= user_img(current_user, size: 60, img_class: "nav-img circle") %>  <%= content_tag :span, user.name, class: "align-middle" %></span>
      <%= content_tag :span, pluralize(user.friends.count, 'Friend'), class: "right" %>
    </div>
    <div class="card-action">
      <%= link_to "View profile", user_path(user)%>
    </div>
  </div>
<% end %>