<%= form_for :post , url: posts_path , method: :post, action: :create do |f| %>
  <div class="card">
    <div class="card-content black-text">
      <div class="input-field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <i class="material-icons prefix">mode_edit</i>
        <%= f.text_area :content, id: "icon_prefix2", class: "materialize-textarea" %>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons">link</i>
          <%= f.text_field :image_link, id: 'link_field' %>
        </div>
        <div class="input-field col s6">
          <%= f.label "or upload a photo" %></br></br>
          <%= f.file_field :image, id: 'upload_field' %>
          <%= link_to "Reset", "#", id: "form_reset" %>
        </div>
      </div>
    </div>
    <div class="card-action">
    <%= f.submit "Post", class: "waves-effect waves-light btn" %>
    </div>
  </div>
<% end %>
